<div class="card-group">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Web Developer</h5>
            <p class="card-text">Carlos Asaed Reyes Vazquez</p>
            <p class="card-text"><small class="text-muted"><a href="https://www.linkedin.com/in/carlos-asaed-reyes-vazquez-aa1aaa1a6/">Linkedin</a></small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br>
<div class="row m-6">
    <div class="col">
        <h3>Misión</h3>
        <p> proveer páginas aplicaciones web agradables para el usuario</p>
        <h3>Vision</h3>
        <p>Llegar a un público más amplio y posicionarnos como una de las mejores empresas del rubro.</p>
        <h3>Objetivos</h3>

        <ul>

        </ul>
    </div>
</div>