<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="assets/web lion.png" width="30" height="30" alt="" loading="lazy">
        </a>
    </nav>
    <a class="navbar-brand" routerLink="home">Web lion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="about">Acerca de nosotros</a>
            <a class="nav-item nav-link" routerLink="works">Nuestros trabajos</a>

        </div>
    </div>
</nav>