/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(0, 0, 0);
    color: white !important;
}

hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}